<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/main.css" rel="stylesheet" type="text/css">
    <title>Conversions</title>
  </head>

  <body>
    <div class="container">
      <h3>Metric-Imperial Conversion</h3>
      <form action="/api/convert" method="get">
        <div class="form-group">
          <label> Data to Convert:
      </label>
          <input class="form-control" type="text" name="data" placeholder="Enter the data" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h4>Results: <%=answer%> </h4>
    </div>
  </body>

</html>
